
header {
    padding-left: 0;
    padding-right: 0;
    color:white;
}
body {
    background-image: url(https://cdn.pixabay.com/photo/2017/03/31/10/56/waffles-2190961_960_720.jpg);
    background-repeat:no-repeat ;
    background-origin:unset;
    background-size:cover;
    padding-top: 50px;
    padding-bottom: 20px;
    color:white;
    margin:0;
    padding:0;
    text-decoration:none;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

