@{
    ViewBag.Title = "¡Disfruta de los Mejores Postres!";
}
<h2 class="text-center" style="color: black">@ViewBag.Title.</h2>

<div class="card" style="width: 18rem; background-color:wheat; position:page;">
    <img class="img-thumbnail" src="https://cdn.kiwilimon.com/recetaimagen/21434/th5-640x426-11491.jpg" alt="Card image cap">
    <div class="card-body" style="color:black;">
        <h5 class="card-title" style="font-family:'Bookman Old Style'; text-align:center;">Cupcake de Chocolate</h5>
        <p class="card-text" style="text-align:justify;">Estos deliciosos cupcakes son de lo mejor, pues quedan muy esponjosos y con un delicioso sabor a chocolate, más si agregamos chispas. ¡Tienen que cocinarlos alguna vez en su vida!</p>
        <a href="https://localhost:44333/Home/Recetas" class="btn" style="font-family:Georgia; position:center; background-color:burlywood; color:black;">Receta</a>
    </div>
</div>

<div class="card" style="width: 18rem;background-color:wheat; position:page; margin-top:3em; margin-left:25em; margin-top:-28.2em;">
    <img class="img-thumbnail" style="position:page; image-orientation:unset; " src="https://cdn.pixabay.com/photo/2017/05/04/21/23/cupcakes-2285209_960_720.jpg" alt="Card image cap">
    <div class="card-body" style="color:black;">
        <h5 class="card-title" style="font-family:'Bookman Old Style'; text-align:center;">Cupcake de Vainilla</h5>
        <p class="card-text" style="text-align:justify;"><br />  Cómo hacer cupcakes de vainilla, receta básica y muy fácil de preparar. <br /> <br />  <br />   </p>
        <a href="https://localhost:44333/Home/Recetas" class="btn" style="font-family:Georgia; position:center; background-color:burlywood; color:black;">Receta</a>
    </div>
</div>

<div class="card" style="width: 18rem;background-color:wheat; position:page; margin-left:51em; margin-top:-28em;">
    <img class="img-thumbnail" src="https://cdn.pixabay.com/photo/2015/01/23/10/44/cheesecake-608963_960_720.jpg" alt="Card image cap">
    <div class="card-body" style="color:black;">
        <h5 class="card-title" style="font-family:'Bookman Old Style'; text-align:center;">Pay de Queso</h5>
        <p class="card-text" style="text-align:justify;">Una mezcla de queso crema, huevos y dos leches, sobre una base de galletas Marías. El relleno es muy fácil y solo requiere que licúes los ingredientes.</p>
        <a href="https://localhost:44333/Home/Recetas" class="btn" style="font-family:Georgia; position:center; background-color:burlywood; color:black;">Receta</a>
    </div>
</div>

<div class="card" style="width: 18rem;background-color:wheat; position:page; margin-top:3em;">
    <img class="img-thumbnail" src="https://cdn.kiwilimon.com/recetaimagen/31638/36487.jpg" alt="Card image cap">
    <div class="card-body" style="color:black;">
        <h5 class="card-title" style="font-family:'Bookman Old Style'; text-align:center;">Pastel de Zanahoria</h5>
        <p class="card-text" style="text-align:justify;">El pastel de zanahoria fácil es un postre compuesto por un bizcocho de zanahoria y cuyos ingredientes principales son esta hortaliza y la nuez picada, así como una tradicional cobertura dulce de color blanco.</p>
        <a href="https://localhost:44333/Home/Recetas" class="btn" style="font-family:Georgia; position:center; background-color:burlywood; color:black;">Receta</a>
    </div>
</div>

<div class="card" style="width: 18rem;background-color:wheat; position:page; margin-top:3em; margin-left:25em; margin-top:-29.2em;">
    <img class="img-thumbnail" style="position:page; image-orientation:unset; " src="https://www.cocinavital.mx/wp-content/uploads/2017/10/paydecalabaza.jpg" alt="Card image cap">
    <div class="card-body" style="color:black;">
        <h5 class="card-title" style="font-family:'Bookman Old Style'; text-align:center;">Pay de Calabaza</h5>
        <p class="card-text" style="text-align:justify;">Este Pay de Calabaza es perfecto para disfrutar en el otoño y es en verdad el más delicioso que hay. Su sabor tan exquisito y textura suave se debe a estar hecho con puré de calabaza y la combinación perfecta de especias. </p>
        <a href="https://localhost:44333/Home/Recetas" class="btn" style="font-family:Georgia; position:center; background-color:burlywood; color:black;">Receta</a>
    </div>
</div>

<div class="card" style="width: 18rem;background-color:wheat; position:page; margin-left:51em; margin-top:-30em;">
    <img class="img-thumbnail" src="https://www.gastrolabweb.com/u/fotografias/m/2020/9/9/f608x342-3245_32968_0.jpeg" alt="Card image cap">
    <div class="card-body" style="color:black;">
        <h5 class="card-title" style="font-family:'Bookman Old Style'; text-align:center;">Besos de Nuez</h5>
        <p class="card-text" style="text-align:justify;"> Estas galletas de besitos de nuez son super fáciles de preparar y están listas en sólo 1 hora. Son tan ricas que no podrás resistirlas. Al probarlas descubrirás como se desmoronan en tu boca y sientes el intenso sabor a nuez. ¡Te encantarán!</p>
        <a href="https://localhost:44333/Home/Recetas" class="btn" style="font-family:Georgia; position:center; background-color:burlywood; color:black;">Receta</a>
    </div>
</div>