
@{
    ViewBag.Title = "Recetas";
}
<h2>Recetas</h2>

<div class="card" style="width: 18rem;background-color:lightskyblue; position:page;">
    <img class="card-img-top">
    <div class="card-body" style="color:black;">
        <h5 class="card-title" style="font-family:'Bookman Old Style'; text-align:center; ">Cupcacke de Chocolate</h5>
        <p class="card-text" style="text-align:inherit; text-align:left;">
            1/2 tazas de cacao en polvo sin azúcar
            1 taza de agua, caliente
            1 1/3 tazas de harina de trigo
            1 cucharadita de polvo para hornear
            1/2 cucharaditas de bicarbonato de sodio
            1/2 tazas de mantequilla, a temperatura ambiente
            1 taza de azúcar morena
            2 huevos
            chispas de chocolate
            1 pizca de sal
            2 cucharaditas de vainilla líquida
        </p>
       
    </div>
</div>